<html>
  <head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="alternate" type="application/rss+xml" title="Coding For Rent RSS" 
            href="http://feeds.feedburner.com/CodingForRent" />
    <title>{{ page.title }}</title>
  <head>
  <body>
    <table class="main_table">
      <tr>
        <td colspan="2">
          <div class="title_bar">
            <h2>Coding For Rent</h2>
            <h4>A blog by Josh Moore all about working with Rails, Ruby, and other programming stuff</h4>
            <h4>By: Joshua Moore</h4>
          </div>
        </td>
      </tr>
      <tr>
        <td class="content">
          <div>
            {{ content }}
          </div>
        </td>
        <td class="right">
          <a href="http://feeds.feedburner.com/CodingForRent">RSS</a>
          <a href="http://stackoverflow.com/users/5004/josh-moore">
          <img src="http://stackoverflow.com/users/flair/5004.png?theme=clean" width="208" height="58" alt="profile for Josh Moore at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Josh Moore at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
          </a>
        <td>
      </tr>
    </table>
  </body>
</html>
